.file-icon {
  vertical-align: -6px;
  font-size: 25px;
  display: inline-block;
  line-height: 1;
  width: 1em;
  text-align: center;
  margin-right: 5px;
  &:before {
    content: url("assets/icons/document.png");
  }
  &.icon-folder {
    &:before {
      content: url("assets/icons/folder.png");
    }
  }
}
