.list-view {
  flex: 1;
  position: relative;
  display: flex;
  border-left: 1px solid #ccc;
  flex-direction: column;
  background: #FFF;
  outline: none;
}

.list-operation {
  height: 40px;
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  padding-left: 4px;
  .list-operation-item {
    color: #212121;
    min-width: 22px;
    font-size: 14px;
    padding: 8px;
    margin-right: 8px;
    &:hover:not(.disabled) {
      cursor: pointer;
      background-color: #EAEAEA;
    }
    &.disabled {
      color: #cacaca;
      opacity: .7;
      .svg-icon {
        color: #00e1b2;
      }
    }
    .svg-icon {
      margin-right: 3px;
      color: #00b89c;
    }
  }
}

.list {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.file-list {
  cursor: default;
  -webkit-user-select: none;

  display: table;
  table-layout: fixed;
  padding-top: 25px;
  height: 100%;
  width: 100%;

  .file-list-header {
    background: #fff;
    position: absolute;
    color: #4c607a;
    font-size: 14px;
    display: flex;
    top: 40px;
    width: calc(100% - 16px);
    .column-file-name {
      flex: 1;
    }
    .file-info-item {
      line-height: 25px;
      padding-left: 6px;
      &:first-child {
        padding-left: 12px;
      }
      &:not(:last-child) {
        border-right: 1px solid #e5e5e5;
      }
    }
  }

  .file-list-body {
    color: #000;
    display: table-row-group;
  }

  .file-list-column {
    display: table-column-group;
  }

  .table-column {
    display: table-column;
  }

  .column-file-name {
    width: 100%;
  }
  .column-last-modified {
    width: 170px;
  }
  .column-file-type {
    width: 140px;
  }
  .column-file-size {
    width: 140px;
  }

  .file-list-item {
    display: table-row;
    outline: none;
    &:hover {
      background: #e5f3ff;
    }
    &.item-selected {
      background: #cce8ff;
      outline: 1px solid #99d1ff;
    }
  }

  .file-info-item {
    padding-left: 6px;
    padding-right: 10px;
    line-height: 30px;
    display: table-cell;
    &:first-child {
      padding-left: 12px;
    }
  }

  .file-type,
  .last-modified,
  .file-size {
    color: #6d6d6d;
  }

  .file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .file-size {
    padding-right: 30px;
    text-align: right;
  }
}

.item-hover {
  background: #e5f3ff;
}


